@import "tailwindcss";

@layer base {
  :root {
    --sans: Inter, sans-serif;
    --text: #111;
    --bg: #fff;
  }

  body {
    font: 18px/145% var(--sans);
    letter-spacing: 0.18px;
    color-scheme: light dark;
    color: var(--text);
    background: var(--bg);
  }
}